<!DOCTYPE html>
<html>
<body>
<p>below is the form that no type was specified. maxlength attribute is present and its value is 128 as I defined in the entity annotation.</p>
{{ form(formWithoutType)}}
<hr>
<p>and below is the one that specified as 'repeated'. no maxlength attributes are present.</p>
{{ form(formWithType) }}
</body>
</html>
